//font-icon 类
.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

html,
body,
#app {
  height: 100%;
  width: 100%;
}
body{
  width: 16rem;
  margin: 0 auto;
}
