/* 布局相关 */
//主色调
$themeMain: #d5ef7f;
//次级主色调
$themeLight: #e5f7a9;
//头部背景色
$topBarBgColor: #8560a9;
//侧边栏背景色
$slideBgColor: #453257;

/* 活动相关 */
//活动标题颜色
$titleColor: #453257;
//活动描述颜色
$descriptionColor: #67616d;
//活动创建者颜色
$creatorColor: #67616d;
//活动时间
$timeColor: #8560a9;
//标签颜色
$channelColor: #d3c1e5;
